.server-rack {
  width: 360px;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.server {
  width: 340px;
  height: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  background-color: #4f4d4e;
  border-radius: 10px;
  box-shadow:
    0 5px 15px -5px rgba(0, 0, 0, 0.5),
    0 -5px 15px -5px rgba(0, 0, 0, 0.5);
}

.disk-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.disk {
  width: 50px;
  height: 10px;
  background-color: #aaa;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
}

.disk-dot {
  width: 10px;
  height: 10px;
  background-color: #4CAF50;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: calc(100% + 8px);
  transform: translate(-50%, -50%);
}

.ventilation {
  position: absolute;
  bottom: 17px;
  left: 90px;
  width: 320px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
}

.ventilation-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.ventilation-hole {
  width: 15px;
  height: 10px;
  background-color: #aaa;
  border-radius: 20%;
  margin: 0 5px;
}

.server::before,
.server::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 40px;
  background-color: #bdbdbd;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.server::before {
  left: 7px;
}

.server::after {
  right: 7px;
}
